.header  {
    font-family: monospace;
    background: rgb(246, 247, 198);
    display: flex;
    align-items: center;
    justify-content:space-around;
    /* white-space: nowrap; */
    /*gap: 100px; */
    padding: 10px;
  }

body {
  background-color:antiquewhite;
}

  .title {
    font-size: 32px;
    background: rgb(246, 247, 198);
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding-left: 7em;
  }
  
  .header a {
    font-size: x-large;
    font-weight: 900;
    color: tomato;
    background: white;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: tomato;
  }
  
  a:visited {
    text-decoration: none;
    color: tomato;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 100%;
    height: auto;
  }

  .bigbox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 247, 198);
    padding-bottom: 80px;
    padding-top: 40px;
    font-family: monospace;
    font-size: x-large;
  }
