.header  {
    font-family: Tahoma, sans-serif;
    background: #1f2937;
    padding: 0em 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.header div {
    font-size: 24px;
    color: white;
}

.header div li {
    list-style: none;
    font-size: 18px;
    display: inline;
    padding: 1em;
}

.header div li a{
    list-style: none;
    font-size: 18px;
    display: inline;
    padding: 1em;
    color:white;
    text-decoration: none;
}

.header div li a:hover{
    list-style: none;
    font-size: 18px;
    display: inline;
    padding: 1em;
    color:grey;
    text-decoration: none;
}

.first {
    font-family: Tahoma, sans-serif;
    background: #1f2937;
    padding: 7em 8em;
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 15%;
}

.first div {
    font-size: 48px;
    color: white;
    font-weight:bolder;
    flex: 1;
    padding-right: 1em;
}

.first div div {
    font-size: 18px;
    flex: 1;
    font-weight:lighter;
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.first button {
    font-size: 24px;
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 0.3em 1.4em;
    border-radius: 15px;
}

.first button:hover{
    background-color: #214a8d;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
    font-family: sans-serif;
    text-align: center;
}

.second {
    background-color: whitesmoke;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}

.card {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.square {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

.third {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

#quote {
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    font-family: sans-serif;
    text-align: justify;

}

#box {
    padding: 3em 0 2em 0;
    max-width: 1200px;
    text-align: center;
}

#citation {
    text-align: right;
    color: #1f2937;
    font-size: 28px;
    font-weight: bold;
    font-family: sans-serif;
    vertical-align:baseline;
}

.fourth {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 3em 0 2em 0;
    display: flex;
}

#fourth-box {
    background-color: #3882F6;
    border: 4px solid #3882F6;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 3em 6em 3em;
    border-radius: 20px;
    padding: 1em 3em 1em 3em;
}

#top-text {
    text-align: left;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    vertical-align:baseline;
    flex: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: .5em;
}

#bottom-text {
    text-align: left;
    color: whitesmoke;
    font-size: 18px;
    font-weight: lighter;
    font-family: sans-serif;
    vertical-align:baseline;
    flex: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: .5em;
}

#last-button {
    font-size: 24px;
    background-color: #3882F6;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    padding: 0.3em 1.4em;
    border-radius: 15px;
    margin: 0 50px 0 100px;
}

#last-button:hover {
    font-size: 24px;
    background-color: #2b61b8;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    padding: 0.3em 1.4em;
    border-radius: 15px;
    margin: 0 50px 0 100px;
}


.fourth-box div {
    flex: auto;
}

.footer {
    background-color: #1f2937;
    color:white;
    font-size: 12;
    padding-top: 1em;
    position: ;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: -20px;
}